#meinungsbild_topic_ul  {
    list-style-type: none;
    padding: 3px;
    width:250px;
    background-color: #EEEEEE;
}


.topic_frame {
	padding: 10px;
	margin: 5px;
	border: 1px solid black;
	-moz-border-radius: 1em 4em 1em 4em;
	border-radius: 1em 4em 1em 4em;
}


#meinungsbild_subtopic_lu .aui-button-input {
	height:20px;
	width: 20px;
	cursor: pointer;
	padding: 0;
}

input.subtopic_expand_selector~.subtopic_expandable {
	display: none;
}

input.subtopic_expand_selector:checked~.subtopic_expandable {
	display: block;
}

input.subtopic_expand_selector {
    outline: none;
    display: none;
}


input.subtopic_expand_selector~label  {
    background-image:url(../images/plus_symbol.png);
    background-repeat:no-repeat;
    background-position:center;
}

input.subtopic_expand_selector:checked~label  {
    background-image:url(../images/minus_symbol.png);
}



#meinungsbild_subtopic_lu  {
    list-style-type: none;
    padding: 3px;
    width: 210px;
    border: 1px solid black;
    margin: 3px;
    background-color: #8ED6E8;
    -moz-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
}

#meinungsbild_subtopic_lu:hover  {
    list-style-type: none;
    padding: 3px;
    width: 200px;
    border: 1px solid black;
    -moz-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
    margin: 3px;
    background-color: #8ED6E8;
    -moz-transform: scale(1.1) rotate(360deg);
   -webkit-transform: scale(1.1) rotate(360deg);
   -o-transform: scale(1.1) rotate(360deg);
   transform: scale(1.1) rotate(360deg);
}

table.moderation-table {
	width:100%;
	border: 1px solid black;
}

table.moderation-table td {
	border: 1px solid black;
}

table.moderation-table head{
	text-align: center;
	align: center;
}





